@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'DM Sans', sans-serif, 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

a, button {
  color: inherit;
  text-decoration: none;
  transition: all ease 0.5s;
}
a:hover, button:hover{
  cursor: pointer;
  transform: translateY(-1px);
  transition: all ease 0.5s;
}

code {
	font-family: 'Maven Pro', sans-serif;
}

nav{
  transition: all ease 0.5s;
}

nav a{
  transition: all ease 0.5s;
}

nav a:hover{
  border-bottom: solid 1px inset;
  transition: all ease 0.5s;
  cursor: pointer;
}
/* ==========  STYLES =============== */
.canvasColor{
  color: #252525;
}
.card {
  transform-origin: 10% 60%;
}
.borderInput{
  border: 1px solid #1C5788;
  border-radius: 6px;
}
.ScrollActive{
  background-color: rgba(0, 48, 87, 0.87);
  backdrop-filter: blur(2px);
}
.ScrollMenuActive{
  color: #E6E6E6;
}
.opened-menu{
  display: none;
  transition: all ease 0.5s;
}
.SearchBar{
  margin-top: -7rem;
}
.SearchBarDesktop{
  margin-top: -3rem;
}
/* For car cards on home */
.CarCardBorder{
  border-radius: 12px 0px 0px 12px;
}

/* For all cards */
.BoxShadowToBottom{
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.BoxShadowToBottomLogin{
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
}
/* For home section cards */
.MarginTopNegative{
  margin-top: -6rem;
}
.MarginLeftNegative{
  margin-left: -6rem;
}
.MarginRigthNegative{
  margin-right: -3rem;
}
/* For services section cards */
.MarginNegative{
  z-index: 10;
  margin: 0rem -15%;
}
.BgServicesCardBlue{
  background: rgba(0, 48, 87, 0.92);
}
.BgServicesCardBlack{
  background: rgba(32, 32, 32, 0.92);
  border-radius: 18.91px;
}
.TextSleep{
  writing-mode: vertical-rl;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}
.BgFooter{
  background: linear-gradient(180.01deg, #252525 0.01%, #2C3E50 99.99%);
}
.LoginButtonBlack{
  border: 1px solid #252525;
  border-radius: 4px;
  padding: 8px 24px;
  color: #252525;
}
.LoginButtonWhite{
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 8px 24px;
  color: #E6E6E6;
}

.vh100{
  height: 100%;
}

@media (min-width: 1024px)  {
  .borderInput{
    border: 1px solid #1C5788;
    border-radius: 6px 0  0px 6px;
  }
  .ChangeColor{
    color: #E6E6E6;
  }
  .vh100{
    height: 100vh;
  }
  .SearchBarDesktop{
    margin-top: -20vh;
  }
  .Vw50{
    width: 60vw;
  }
}

@media (min-width: 1280px)  {
  .SearchBarDesktop{
    margin-top: -15vh;
  }
}

/* Animations */
.large-header {
  position: absolute;
  width: 55vw;
  max-height: 90vh;
  overflow: hidden;
  z-index: 1;
  margin-left: -10vw;
  margin-bottom: 10vh;
  color: #252525;
}
